<div id="toolsPanel">
    <p>Draggable components:</p>
    <ul ng-repeat="obj in draggableObjects track by $index" class="draglist" style="display:block" ng-drag="true" ng-drag-data="obj" ng-sorgente="panel">
        <li style="clear: both; min-height: 10px;" ng-bind-html="obj.contenuto | to_trusted">
        </li>
        <section class="descrizioneTool">
            <section>{{obj.type}}</section>
            <button ng-click="removeDraggable(obj)">Rimuovimi</button>
        </section>
    </ul>
    <div>
        <input type="button" name="" value=" + " ng-click="addDraggableElement = true ">
        <div ng-show="addDraggableElement">
            <form name="formAddDraggable" ng-init="setFormScope(this)" novalidate>
                <label for="Contenuto">Contenuto:
                    <input type="text" name="contenuto" value="" ng-model="newDraggable.contenuto" required>
                    <span style="color: red" ng-show="invalida && formAddDraggable.contenuto.$error.required">contenuto obbligatorio</span>
                </label>
                <label for="Tipo" style="clear:both">Tipo:
                    <select name="" ng-init="newDraggable.type='testo'" ng-model="newDraggable.type" ng-options="type for type in ['testo', 'spacer', 'immagine', 'divider', 'button', 'textarea']">
                    </select>
                </label>
                <label for="Allineamento" style="clear:both" ng-init="newDraggable.allineamento='block'">Allineamento:
                    <br />
                    <input type="radio" ng-model="newDraggable.allineamento" name="allineamentoBlock" value="block">Block
                    <br/>
                    <input type="radio" ng-model="newDraggable.allineamento" name="allineamentoInline" value="inline">Inline
                    <br/>
                </label>
                <input type="submit" ng-click="addNewDraggable(invalida = formAddDraggable.$invalid, newDraggable)" value="Salva" />
            </form>
        </div>
    </div>
    <div id="dropToRemoveArea">
        Drop down here to remove.
        <div ng-drop="true" ng-drop-success="onDropCompleteRemove($data, $event)">
        </div>
    </div>
    <div>
        <p>
            <strong>Nota:</strong>Se riordini trascina bene fuori l'elemento dal container</p>
            <a ng-href="#" href="#" ng-click="getHtml()">Get HTML!</a>
    </div>
</div>
<div style="position:relative; left: 20%; max-width:600px">
    <frame>
        <ng-capture-html ng-persist="true">
        <div ng-include="returnTemplate()">
        </div>
        </ng-capture-html>
    </frame>
</div>
