<div id="toolsPanel">
    <h5>Draggable components:</h5>
    <ul ng-repeat="obj in draggableObjects track by $index" class="draglist" style="display:block" ng-drag="true" ng-drag-data="obj" ng-sorgente="panel">
        <li style="clear: both; min-height: 10px; min-width: 120px; " ng-bind-html="obj.contenuto" ng-show="obj.type!=='button'">
        </li>
        <li style="clear: both; " ng-show="obj.type==='button'">
            <button style="min-height: 10px; min-width: 120px;">{{obj.contenuto}}</button>
        </li>
        <a href="#" ng-click="removeDraggable(obj)" style="background-color: #dedede"> Rimuovimi </a>
    </ul>
    <div>
        <input type="button" name="" value=" + " ng-click="addDraggableElement = true ">
        <div ng-show="addDraggableElement">
            <form name="formAddDraggable" ng-init="setFormScope(this)" novalidate>
                <label for="Contenuto">Contenuto:
                    <input type="text" name="contenuto" value="" ng-model="newDraggable.contenuto" required>
                    <span style="color: red" ng-show="invalida && formAddDraggable.contenuto.$error.required">contenuto obbligatorio</span>
                </label>
                <label for="Tipo" style="clear:both">Tipo:
                    <select name="" ng-init="newDraggable.type='testo'" ng-model="newDraggable.type" ng-options="type for type in ['testo', 'spacer', 'immagine', 'divider', 'button', 'textarea']">
                    </select>
                </label>
                <label for="Allineamento" style="clear:both" ng-init="newDraggable.allineamento='block'">Allineamento:
                    <br />
                    <input type="radio" ng-model="newDraggable.allineamento" name="allineamentoBlock" value="block">Block
                    <br/>
                    <input type="radio" ng-model="newDraggable.allineamento" name="allineamentoInline" value="inline">Inline
                    <br/>
                </label>
                <input type="submit" ng-click="addNewDraggable(invalida = formAddDraggable.$invalid, newDraggable)" value="Salva" />
            </form>
        </div>
    </div>
    <div id="dropToRemoveArea">
        Drop down here to remove.
        <div ng-drop="true" ng-drag="false" ng-drag-data="obj" ng-drop-success="onDropCompleteRemove($data, $event)">
        </div>
    </div>
    <div>
        <p>
            <strong>Nota: </strong>Se riordini trascina bene fuori l'elemento dal container</p>
    </div>
</div>
<div style="position:relative; left: 20%; max-width:600px">
    <frame>
        <div ng-include="returnTemplate()">
        </div>
    </frame>
</div>
